.cover {
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  align-items: center;
  z-index: 0;
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  object-fit: cover;
  margin: 92px auto 0;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.cover:hover::before {
  opacity: 0.8;
}

.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0 auto;
}

.cover__subtitle {
  font-size: 18px;
  line-height: 1.22;
  margin: 0 auto;
}

.cover__subtitle:first-of-type {
  margin: 32px 0 0 0;
}

.cover__button {
  max-width: 137px;
  z-index: 2;
  margin: 45px 0 0;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: 16px;
    line-height: 18px;
    max-width: 250px;
    margin: 0 auto;
  }

  .cover__button {
    margin-top: 24px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin: 46px auto 0;
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 220px;
    margin: 0 auto;
  }

  .cover {
    min-height: 254px;
    margin-top: 64px;
  }

  .cover__button {
    margin-top: 16px;
  }

  .cover__subtitle:first-of-type {
    margin-top: 16px;
  }
}
